
* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    margin: 0 auto;
    font-family: papyrus;
    font-weight: 600;
    background-color: silver;
}

.container {
    display: grid;
    grid-template: 61px 469px 65px 150px 400px repeat(3, 1fr) 350px 100px 400px 120px / repeat(12, 1fr);
}

.loginBar {
    display:flex;
    justify-content: flex-end;
    padding: 20px 10px;
}

label, input, p {
    margin: 0px 10px 0px 0px;
}

p, label {
    font-size: 2rem;
}
header {
    grid-column: 1 / -1;
}

.mainHeader {
    font-size: 6rem;
    grid-column: 2 / -1;
    grid-row: 2 / span 1;
    align-self: center;
    margin-bottom: 5%;
}

.hero {
    grid-column: 1 / -1;
    grid-row: 2 / 2;
    overflow: hidden;
}

nav {
    grid-column: 4 / -1;
    grid-row: 3 / span 1;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
    margin-right: 10%;
    padding: 5px 30px;
}

li a {
    text-decoration: none;
    color: black;
    font-size: 3.5rem;
}

.active {
    background-color: snow;
}

.none {
    display: none;
}

.title {
    font-size: 3.5rem;
}

#about {
    grid-area: 4 / 1 / 5 / -1;
    justify-self: center;
}

.aboutContainer {
    grid-area: 5 / 3 / 6 / 11;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.aboutText {
    max-width: 600px;
    max-height: 400px;
}

.aboutImgContainer {
    max-width: 450px;
}
.aboutImgContainer img {
    max-width: 100%;
}

.sightHead {
    grid-column: 1 / -1;
    grid-row: 6 / 7;
    justify-self: center;
    display: flex;
    justify-content: center;
}

.sightHead h1 {
    max-width: 600px;
}

.recentSightings {
    grid-column: 2 / 12;
    grid-row: 7 / 8;
    display: flex;
    justify-content: center;
}

table {
    border-collapse: collapse;
    min-width: 100%;
    background-color: snow;
    text-align: center;
}

table, td, th {
    border: 1px solid black;
    font-size: 2rem;
}

th {
    font-size: 2.5rem;
    background-color: whitesmoke;
}

td {
    font-weight: 400;
}

.eventHead {
    grid-area: 8 / 1 / 9 / -1;
    justify-self: center;
}

.eventCarousel {
    grid-area: 9 / 2 / 10 / 12;
    display: flex;
    justify-content: center;
}

.eventCarousel img {
    min-width: 50%;
}

#signUp {
    grid-area: 11 / 2 / 12 / 12;
    border: 2px solid gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#signUp h1 {
    font-size: 5rem;
    max-width: 350px;
}

#signUp input {
    margin: 20px;
}

#signUp label {
    float: right;
    font-size: 3rem;
}

.signUpBtn {
    font-size: 2rem;
    padding: 5px 10px;
}

footer {
    grid-area: 12 / 1 / 13 / -1;
    padding: 20px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkgray;
}

footer img {
    border-radius: 5px;
}

@media (max-device-width: 480px) {
    .container {
        grid-template: 61px 469px 65px 150px 800px repeat(3, 1fr) 350px 100px 400px 120px / repeat(12, 1fr);
    }
    .aboutContainer {
        justify-content: center;
        grid-column: 2 / 12;
    }
    .aboutText {
        max-width: 100%;
        min-height: 700px;
        text-align: center;
    }
    .aboutText p {
        font-size: 4rem;
    }
    .aboutImgContainer {
        visibility: hidden;
        position: absolute;
    }
    .title {
        font-size: 2.5rem;
    }
    nav {
        grid-column: 1 / -1;
        height: 100px;
        justify-self: center;
    }
    li {
        margin-right: 0;
    }
    .sightHead h1 {
        max-width: 400px;
    }
    .sightHead {
        min-width: 500px;
    }

}
